*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}
.container{
    margin: 1rem;
    padding: 1rem;
    background-color: red;
    text-align: center;
}
.container h1{
    color: #fff;
    padding-bottom:1rem ;
}
.container input{
    padding: .3rem;
    font-size: 1.5rem;
    width: 50%;
}
.add-btn{
    cursor: pointer;
    width: 16%;
    font-size: 1.6rem;
    padding: 0.2rem;
    opacity: 0.8;
    pointer-events: none;
}
.add-btn.active{
    opacity: 1;
    pointer-events: auto;
}
.Ul li{
    color: yellow;
    list-style: none;
    background-color: #3789c2;
    padding: 1rem;
    font-size: 1.5rem;
    margin: 1rem;
    padding-left: 4rem;
    position: relative;
}
ul li.checked {
    background: grey;
    color: white;
    text-decoration: line-through;
  }
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 20px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
.delete{
    color:#fff;
    position: absolute;
    right: 17px;
}